<%- include( '../partials/header') %>
<form class="signin-form" method="get" action="/getname" class="signin-form">
  <h2 class="signin-title">Sign In</h2>
  <label for="firstName">First Name:</label>
  <input class="signin-input" type="text" name="firstName" />
  <button class="signin-button" type="submit">Submit</button>
</form>
<%- include( '../partials/footer') %>
